* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Outfit';
  src: url('./assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'YoungSerif';
  src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf');
}

body {
    background-color: hsl(30, 54%, 90%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

h1, h2 {
  font-family: "YoungSerif";
}

h1 {
  color: hsl(24, 5%, 18%);
}

h2 {
  color: hsl(14, 45%, 36%);
  font-weight: 400;
  letter-spacing: 1px;
}

p {
  font-family: "Outfit";
  font-size: 18px;
  color: hsl(30, 10%, 34%);
}

li {
  font-family: "Outfit";
  font-size: 18px;
  list-style-position: inside;
  padding-left: 8px;
  margin-bottom: 10px;
  color: hsl(30, 10%, 34%);
}

li span {
  position: relative;
  padding-left: 15px;
}

.container {
  border-radius: 20px;
  background-color: hsl(0, 0%, 100%);
  padding: 40px;
  width: min-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container img {
  border-radius: 20px;
  width: 720px;
  align-self: center;
}

.container h1 {
  font-size: 35px;
  font-weight: 400;
  letter-spacing: 1px;
}

.container p {
  margin-bottom: 10px;
}

.preparation-time {
  background-color: hsl(330, 100%, 98%);
  padding: 25px 30px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  gap: 20px;
}

.preparation-time h3 {
  color: hsl(332, 51%, 32%);
  font-size: 20px;
  font-weight: 700;
}

::marker {
  color: hsl(332, 51%, 32%);
}

.instructions {
  display: flex;
  flex-direction: column;
}

.instruction {
  display: flex;
  gap: 20px;
  padding-left: 8px;
  margin-bottom: 10px;
  line-height: 25px;
}

.instruction-order {
  color: hsl(332, 51%, 32%);
}

.nutritions {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.nutrition {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  padding-left: 30px;
}

.nutrition-measure {
  font-weight: 700;
  color: hsl(332, 51%, 32%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}